<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header" style="display: flex;justify-content: center;font-size: 25px;margin-bottom: 70px;"><h1><b>Analytics Dashboard</b></h1></div>
    <div class="content" style="display: flex;justify-content: center;gap:40px;border-radius: 5px;" >
        <div class="avg-price">
            <div class="box" style="background-color: antiquewhite;width: 500px;height: 300px;border-radius: 15px">
                <p style="font-size: 25px">Avg. Price</p>
                <p style="font-size: 25px">AED 1000</p>
            </div>
        </div>
        <div class="fastest-selling-car">
            <div class="box" style="background-color: antiquewhite;width: 500px;height: 300px;border-radius: 15px">
                <p style="font-size: 25px">Fastest Selling Car</p>
                <p style="font-size: 25px">Tesla Model 3</p>
            </div>
        </div>
        <div class="listing-track">
            <div class="box" style="background-color: antiquewhite;width: 500px;height: 300px;border-radius: 15px">
                <p style="font-size: 25px">Listings Tracked</p>
                <p style="font-size: 25px"><b>6900</b></p>
            </div>
        </div>
    </div>
    <div class="content" style="display: flex;justify-content: center;gap:40px;border-radius: 5px;" >
        <div class="avg-price">
            <div class="box" style="background-color: antiquewhite;width: 500px;height: 300px;border-radius: 15px">
                <p style="font-size: 25px">Price Trend Over Time (Selected Model)</p>
                <p style="font-size: 25px">AED 1000</p>
            </div>
        </div>
        <div class="fastest-selling-car">
            <div class="box" style="background-color: antiquewhite;width: 500px;height: 300px;border-radius: 15px">
                <p style="font-size: 25px">Average Time to Sell per Model</p>
                <p style="font-size: 25px">Tesla Model 3</p>
            </div>
        </div>
    </div>
</body>
</html>